<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Login Form</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body> 
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <br>
          <p th:if="${error}" th:text="${error}" class="error">No error</p>
        <div class="row">
          <form th:action="@{/user}" th:object="${loginForm}" method="post">
              <div class="form-group">
                  <label>User Email</label>
                  <input type ="text" name ="email" th:field="*{email}" required />
                  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error" ></span></div>
                 <br>
              <div class="form-group">
                  <label> User password</label>
                  <input type ="text" name ="password" th:field="*{password}" required /></div>
                <div class="row button">
                    <input type="submit" value="Login">
                </div>
                <div  class="form-group">
                    <span> New User? <a  th:href="@{/user/new}" >Register here</a></span>
                </div>
               <label>
                   <input type="checkbox" name="remember-me" />remember me
               </label>
          </form>
        </div>
      </div>
    </div>
</body>
</html>


